* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-padding-top: 90px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #555555;
    line-height: 1.65;
    background-color: #ffffff;
    font-size: 16px;
    margin: 44px auto 0;
}

section {
    padding: 0 10px;
}

p {
    margin: 0;
    font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1;
}

a {
    text-decoration: none;
    color: #555555;
}

ul {
    list-style-type: none;
}

.align_img {
    text-align: center;
}

.container {
    padding: 10px 20px;
}

.navbar .container {
    padding: 5px 20px;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar {
    position: fixed;
    width: 100%;
    background-color: rgba(163, 160, 160, 0.8);
    top: 0;
    padding-bottom: 0px;
    margin-top: 0;
}

nav ul a {
    color: rgb(48, 47, 47);
    font-size: 19px;
}

.Top {
    margin-top: 70px;
}

.Top img {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    padding-left: 10px;
}

.navbar .flex {
    justify-content: space-between;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly
}

.navbar a {
    padding: 10px;
    margin: 0 3px;
}

nav a:hover {
    background-color: rgb(173, 170, 170);
    color: #0f0e0e;
}

.btn {
    display: inline-block;
    padding: 13px 30px;
    cursor: pointer;
    background-color: #fde74c;
    color: #222222;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.Top {
    background-color: #003e9a;
    color: #ffffff;
}

.content,
.content1 {
    text-align: center;
}

.Top h1 {
    font-size: 92px;
    font-stretch: extra-condensed;
    margin: 0px;
    padding: 5px 0 35px;
    text-align: center;
}

.Top .p1 {
    font-size: 27px;
    text-align: center;
}

.Top .p2 {
    padding-bottom: 30px;
    text-align: center;
}

.h2start {
    font-size: 37px;
    color: #003e9a;
    margin-bottom: 10px;
    margin-top: 15px;
}

.Events .content p {
    text-align: left;
}

.availability .content p,
h5 {
    text-align: left;
}

.availability .content {
    padding: 20px;
}

.availability .content p {
    font-size: 22px;
    padding-bottom: 20px;
}

.h5start {
    font-size: 20px;
    color: #222222;
    font-weight: 500;
    margin-bottom: 25px;
}

.h5start1 {
    font-size: 24px;
    color: #222222;
    font-weight: 500;
    margin-bottom: 25px;
}

hr {
    height: 10px;
    background-color: #FDE74C;
    border: none;
}

.availability .content {
    background-color: #ebebeb;
}

.btn_available .btn {
    background-color: #003E9A;
    color: #ffffff;
}

.grid .btn_available {
    grid-template-columns: 1fr;
}

.Clinics .grid {
    grid-template-columns: repeat(3, 1fr);
}

.Clinics .content h5,
p {
    text-align: left;
}

.Clinics .content {
    padding: 0 10px;
}

.Clinics .content p {
    font-size: 16px;
}

.Clinics .learnP,
.helping .learnP {
    padding-top: 20px;
}

.Clinics .learn_more,
.helping .learn_more {
    color: #003E9A;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}

.Services .grid {
    grid-template-columns: 1fr 2fr 1fr;
}

.Services p,
.helping p {
    color: #3a3a3a;
}

.hrservices {
    height: 3px;
    background-color: #92D5E6;
    border: none;
}

.helping .grid {
    grid-template-columns: repeat(3, 1fr);
}

.helping .content h5,
p {
    text-align: left;
}

.helping .content {
    background-color: #ebebeb;
}

.kidspadding {
    padding: 0 20px 10px;
}

footer {
    background-color: #003e9a;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 25px;
    margin-top: 30px;
}

footer p {
    font-size: 17px;
}

footer a {
    color: #ffffff;
    font-size: 16px;
}

footer .grid {
    grid-template-columns: 3fr 1fr 2fr 2fr;
    align-items: start;
}

.copyright {
    padding-top: 30px;
}

.input1,
.input2 {
    margin: 10px 0;
}

.forms input[type='email'],
.forms input[type='submit'] {
    border-radius: 5px;
    width: 85%;
    padding: 15px;
    font-size: 18px;
}

.forms input[type='submit'] {
    background-color: #FDE74C;
    font-weight: bold;
    border: #FDE74C;
    cursor: pointer;
}

.forms input:focus {
    outline: none;
}

.social_icon {
    padding-top: 10px;
}

@media (max-width: 1050px) {
    .helping img {
        height: 200px;
    }
}

@media (max-width: 700px) {
    .grid {
        grid-template-columns: 1fr;
    }
    .Clinics .grid {
        grid-template-columns: 1fr;
    }
    .Services .grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .helping .grid {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    footer .grid {
        grid-template-columns: 2fr 1fr;
    }
    .helping img {
        height: 200px;
    }
}

@media (max-width: 603px) {
    html {
        scroll-padding-top: 90px;
    }
    body {
        margin-top: 60px;
    }
}

@media (max-width: 575px) {
    .helping img {
        height: 300px;
    }
}

@media (max-width: 500px) {
    html {
        scroll-padding-top: 120px;
    }
    body {
        margin-top: 80px;
    }
}

@media (max-width: 500px) {
    .navbar .flex {
        flex-direction: column;
    }
    .Top {
        margin-top: 96px;
    }
    .Services .grid {
        grid-template-columns: 1fr;
    }
    .helping .grid {
        grid-template-columns: 1fr;
    }
    footer .grid {
        grid-template-columns: 1fr;
    }
    .Services .btn_available {
        text-align: right;
    }
}

@media (max-width: 453px) {
    html {
        scroll-padding-top: 130px;
    }
    body {
        margin-top: 120px;
    }
    .navbar img {
        width: 120px;
    }
}

@media (max-width: 300px) {
    .top .content {
        text-align: center;
    }
    .Top .content p {
        font-size: 22px;
    }
    .Top h1 {
        font-size: 50px;
    }
    .Events h2,
    .availability h2,
    .Clinics h2 {
        font-size: 28px;
    }
}

@media (max-width: 264px) {
    .Top {
        margin-top: 160px;
    }
}

@media (max-width: 224px) {
    .Top {
        margin-top: 190px;
    }
}
